*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* テーマカラーから濃淡5色 */
    --theme1: #2c4383;
    --theme2: #3a549c;
    --theme3: #4968bd;
    --theme4: #71a2f1;
    --theme5: #9bbdf4;
    --white: #e9e9e9;

    /* テキストサイズ */
    --large: 30px;
    --medium: 20px;
    --small: 15px;
    --header-bg: var(--theme3);
}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

body {
    /* サイズ、配置 */
    margin: 0;

    /* デザイン */
    background-color: var(--theme3);
    
    /* コンテンツ */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    
    font-family: "Zalando Sans", sans-serif;
}

@media (min-width: 900px) {
    body {
        padding: 0 100px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/*
 * 利用規約がbuttonいっぱいだと怪しいので少し縮小。
 * .link-button-img {} より下にないと優先されないので注意
 * 16pxより小さくしないように
*/
.Qiita {
    width: 23px;
    height: 23px;
}
.AtCoder {
    height: 50px;

}


/* =================== header ==================== */

.header {
    /* サイズ、配置 */
    height: 100px;
    margin-bottom: 100px;

    /* 形 */
    background-color: var(--header-bg);
    padding: 10px 20px;
    width: 100%;

    /* コンテンツ */
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    /* サイズ、配置 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* コンテンツ */
    font-size: var(--large);
    font-weight: 500;
}

@media (max-width: 800px) {
    .header-left {
        font-size: var(--medium);
    }
    .header-right a {
        font-size: var(--small);
    }
}

.header-right {
    /* サイズ、配置 */
    width: fit-content;
    height: 100%;
    padding: 10px;

    /* デザイン */
    border: 2px solid var(--white);
    border-radius: 10px;

    /* コンテンツ */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: var(--medium);
    font-weight: 500;
}

.header-right a {
    /* サイズ、配置 */
    height: 100%;
    padding: 10px;
    border-radius: 10px;

    /* デザイン */

    /* コンテンツ */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-right a:hover{
    color: #fff;
    background-color: var(--theme4);
}


.header a {
    text-decoration: none;
}



/* =================== section ==================== */

.section {
    /* サイズ、形 */
    min-height: 600px;
    /* max-width: ; */
    padding: 20px;
    border-radius: 20px;
    margin: 50px 20px;
    width: calc(100% - 40px);
    padding: 50px;

    /* デザイン */
    border: 2px solid var(--white);

    /* コンテンツ */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.section-header {
    /* サイズ、形 */
    height: 30%;
    /* デザイン */
    /* コンテンツ */
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section-title {
    color: var(--white);
    font-size: clamp(30px, 4vw, 50px);
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.section-footer {
    /* 100%にしないと要素に応じてちぢむ (!?) */
    /* width: 100% */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    color: var(--white);
    font-size: clamp(15px, 4vw, 25px);
}

/* 複数配置する想定で */
.link-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* wrapperは回転させずに、中身のアイコンのみを45度回転 */
.fa-arrow-right {
    transform: rotate(-45deg);

    transition: transform 0.3s;
}
.news-link-button:hover .fa-arrow-right {
    transform: rotate(0deg);
}

.introduction-container {
    /* サイズ、形 */
    background-color: var(--theme3);
    width: 90%;
    height: 90%;
    margin: 0 auto;

    /* デザイン */

    
    /* コンテンツ */
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
    font-size: 1.5rem;
}
.introduction-container p {
    border-bottom: 4px solid var(--theme5);
    font-size: clamp(10px, 3vw, 22px);
}




/* =================== toolbar,top-buttonなど非コンポーネント ==================== */

.toolbar {
    /* サイズ、形 */
    width: 100px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    /* デザイン */
    border: 2px solid var(--white);

    /* コンテンツ */
    font-size: var(--small);
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-button {
    /* サイズ、形 */
    padding: 5px 15px;
    
    /* デザイン */
    border: none;
    background-color: inherit;
    border-radius: 5px;
    cursor: pointer;
    
    /* コンテンツ */
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--white);
    font-family: inherit;
    font-weight: 600;
    font-size: var(--small);
}
.filter-button:hover {
    background-color: var(--theme4);
}

.dropdown-content {
    /* サイズ、形 */
    min-width: 120px;
    left: 0;
    position: absolute;
    top: 110%;
    
    /* デザイン */
    border: 2px solid var(--white);
    border-radius: 8px;
    background-color: var(--theme3);
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */

    /* コンテンツ */
    display: none;
    color: var(--white);
    overflow: hidden;
    z-index: 3;
}

.dropdown-content.show {
    display: block;
}

.dropdown-item {
    width: 100%;
    padding: 10px 16px;

    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;

    display: block;
    text-decoration: none;
    text-align: left;
    font-family: inherit;
    font-size: var(--small);
}

.dropdown-item:hover {
    background-color: var(--theme4);
}
.back-to-top-button {
    /* サイズ，形 */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 3;

    /* デザイン */
    /* border: 2px solid var(--white); */
    border-radius: 50%;
    color: var(--white);

    /* コンテンツ */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.back-to-top-button:hover {
    background-color: var(--theme4);
    /* color: var(--theme2); */
}




/* =================== footer ==================== */

.footer {
    /* サイズ、形 */
    margin-top: 80px;
    min-height: 400px;
    padding: 60px 20px;
    width: 100vw;

    /* デザイン */
    background: var(--footer-bg);
    border-top: 2px solid var(--white);


    /* コンテンツ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    color: var(--white);

}

.footer-title {
    /* color: var(--white); */
    color: inherit;
    font-size: clamp(30px, 4vw, 50px);
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.links-container {
    width: 100%;
    max-width: 600px;

    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;

    gap: 16px;
}
